<?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
        <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
            <listEntry value="/RFD-Incremental-Imputation/src/main/java/incremental_Imputation_v2/IncrementalImputationv2Alternative_ARGS.java"/>
        </listAttribute>
        <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
            <listEntry value="1"/>
        </listAttribute>
        <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
        <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
        <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
        <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
        <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
        <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="incremental_Imputation_v2.IncrementalImputationv2Alternative_ARGS"/>
        <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="RFD-Incremental-Imputation"/>
        <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;Student_908_409_1.csv&quot; &quot;;&quot; &quot;?&quot; 15 18 &quot;False&quot; 2 0.5 1 1 0.5 0.5 4 0.5 0.5 0.5 0.5 0.5 1 0.5 5"/>
        <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RFD-Incremental-Imputation"/>
        <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
        <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx64G"/>
    </launchConfiguration>
    